<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Student Database</title>
</head>
<body>
  <nav>
    <ul>
      <li>
       <a href="/students">Student List</a>
      </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>