<h1>Add a Student</h1>

<form action="/students" method="post">

  <label>
  First name:
  <input type="text" name="first_name"/>
  
  </label>


  <label>
  Last name:
  <input type="text" name="last_name"/>
  </label>


  <label>
  House:
    <select name="house_id">
    <option value="1">Red</option>
    <option value="2">Blue</option>
    <option value="3">Green</option>
    </select>
  </label>


  <label>
  Age:
  <input type="number" name="age"/>
  </label>

  <input type="submit" value="Add New Student"/>

</form>